.idea
build
make-android.sh

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/local_leader.properties
/local_member.properties

#crashlytics
common/src/main/res/values/com_crashlytics_export_strings.xml
common/src/main/assets/crashlytics-build.properties
